@model IEnumerable<GroupFourTaskMVC.Models.Book>
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <form asp-controller="Home" asp-action="Index">
        <p>
            Title: <input type = "text" name="SearchString" />
            <input type="submit" value="Search" />    
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Reserve
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @if (item.resID == null)
                        {
                            <form asp-controller="Home" asp-action="Reserve">
                                <input type="hidden" name="bookID" value="@item.id" />
                                <input type="submit" value="Reserve" />
                            </form>                            
                        }
                        else
                        {

                            <form asp-controller="Home" asp-action="Cancel">
                                <input type="hidden" name="bookID" value="@item.id" />
                                <input type="submit" value="Cancel" />
                            </form>
                            <span>Reserved with ID: @item.resID</span>

                        }
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
